<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <!--<table st-table="dataset" class="table table-bordered table-striped table-condensed">-->
            <!--<thead>-->
              <!--<tr>-->
                <!--<th st-sort="name">Name</th>-->
                <!--<th st-sort="location">Location</th>-->
                <!--<th st-sort="pricePerPerson" st-skip-natural="true">Price Per Person</th>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<th><input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/></th>-->
                <!--<th><input st-search="location" placeholder="search for location" class="input-sm form-control" type="search"/></th>-->
                <!--<th></th>-->
              <!--</tr>-->
            <!--</thead>-->
            <!--<tr ng-repeat="row in dataset">-->
              <!--<td >{{row.name}}</td>-->
              <!--<td >{{row.location}}</td>-->
              <!--<td >{{row.pricePerPerson}}</td>-->
            <!--</tr>-->
          <!--</table>-->
          <table st-table="events" st-pipe="vm.pipe" class="table table-hover table-striped table-condensed table-events">
            <thead>
              <tr>
                <th ng-if="vm.user.role == 'user'">Status</th>
                <th st-sort="date" st-skip-natural="true">Date</th>
                <th>Time</th>
                <th st-sort="name" st-sort-default="true">Name</th>
                <th st-sort="pricePerPerson">Price</th>
                <th st-sort="people">People</th>
                <th st-sort="location" ng-if="vm.user.role == 'caterer'">Location</th>
                <th>Description</th>
                <th st-sort="offerStatus" ng-if="vm.user.role == 'caterer'">Offer</th>
                <th colspan="2"></th>
              </tr>
              <tr>
                <th ng-if="vm.user.role == 'user'"></th>
                <th>
                  <input st-search="date" class="input-sm form-control" type="search"/>
                </th>
                <th></th>
                <th>
                  <input st-search="name" class="input-sm form-control" type="search"/>
                </th>
                <th>
                  <input st-search="pricePerPerson" style="width: 50px;" class="input-sm form-control" type="search"/>
                </th>
                <th>
                  <input st-search="people" style="width: 50px;" class="input-sm form-control" type="search"/>
                </th>
                <th ng-if="vm.user.role == 'caterer'">
                  <input st-search="location" class="input-sm form-control" type="search"/>
                </th>
                <th>
                  <input st-search="description" class="input-sm form-control" type="search"/>
                </th>
                <th ng-if="vm.user.role == 'caterer'">
                  <input st-search="offerStatus" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="event in displayed" ng-class="{drafted: event.drafted, active: event.active}" ng-click="vm.setActiveEvent(event)">
              <td ng-if="vm.user.role == 'user'">
                <!--<span class="label label-warning" ng-if="vm.user.role == 'caterer' && event.isUpdated">Updated!</span>-->
                <span class="label label-info" ng-if="vm.user.role == 'user'">{{event.status}}</span></td>
              <td>{{event.date | date: "longDate"}}</td>
              <td>{{event.time | date: "shortTime"}}</td>
              <td>{{event.name}}</td>
              <td>{{event.pricePerPerson}}</td>
              <td>{{event.people}}</td>
              <td ng-if="vm.user.role == 'caterer'">{{event.location}}</td>
              <td>{{event.description}}</td>
              <td ng-if="vm.user.role == 'caterer'">
                <span class="label label-info" ng-if="event.offerStatus" >{{event.offerStatus}}</span>
              </td>
              <td>
                <div ng-if="vm.user.role == 'user'">
                  <a class="btn btn-xs btn-default" href="/events/{{event._id}}">Edit Event</a>
                  <!--<a class="btn btn-xs btn-warning" ui-sref="offers" ng-click="vm.setActiveEvent(event)" >Offers ({{event.offersNumber}})</a>-->
                  <a class="btn btn-xs btn-warning" uib-popover-html="event.offersInfo" popover-trigger="mouseenter" popover-placement="right">Offers ({{event.offersNumber}})</a>
                </div>
                <div ng-if="vm.user.role == 'caterer'">
                  <a class="btn btn-xs btn-default" ng-if="event.offerStatus" href="{{event.offerUrl}}">Edit Offer</a>
                  <a class="btn btn-xs btn-default" ng-if="!event.offerStatus" href="{{event.offerUrl}}">Create Offer</a>
                </div>
              </td>
              <td>
                <a class="btn btn-xs btn-danger" ng-click="vm.decline(event._id)" ng-if="vm.user.role == 'caterer'">Decline Event</a>
                <div ng-if="vm.user.role == 'user'">
                  <a class="btn btn-xs btn-danger" ng-click="vm.cancel(event._id)">Cancel</a>
                  <a class="btn btn-xs btn-default" ng-click="vm.delete(event)" title="Delete event"><i class="fa fa-times"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center" st-pagination="" st-items-by-page="5" colspan="4">
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.user.role == 'user'">
    <div class="col-sm-12">
      <offerslist></offerslist>
    </div>
  </div>
</div>
